body {
  font-size: 18px;
  font-family: Arial;
  margin: 10px 10px;
}

.todo-input-grid,
.display-todo-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin: 10px 10px;
}

.todo-input,
.date-input {
  font-size: 15px;
  padding: 8px 12px;
}

.add-button {
  background-color: green;
  color: white;
  font-size: 14px;
  border: 0px none;
  padding: 10px 30px;
  cursor: pointer;
}

.delete-button {
  background-color: darkred;
  color: white;
  font-size: 14px;
  border: 0px none;
  padding: 10px 30px;
  cursor: pointer;
}